.square {
    width: 30%;
    height: 200px;
    font-size: 90px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 150px;

    
}
.hidden {
    display: none
}